.container {
    width: 750px;
    height: 300px;
    margin: 0px auto;
    border-color: grey;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    border-style: solid;
}
.top-nav {
    height: 75px;
    background-color: teal;
}
.circle {
    width: 100px;
    height: 100px;
    margin: 20px;
}
.body {
    margin: 0px auto;
    padding: 20px;
}
.location{
    display: flex;
}
.map {
    width: 15px;
    height: 25px;
}
.gear {
    width: 25px;
    height: 25px;
}
p {
    margin: 0px auto;
}
h1 {
    margin: 0px auto;
    margin-top: 25px;
}
h2 {
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 {
    margin: 0px auto;
    margin-top: 5px;
}